main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: rgb(39, 39, 39);
    color: aliceblue;
}

table{
    background-color: gray;
    border: solid;
    border-color: rgb(74, 74, 74);
}

td{
    border: solid;
    border-color: rgb(74, 74, 74);
}
