section{
    display: flex;
    flex-direction: column
}

input{
    width: 25%;
    height: auto;
    margin-bottom: 1%;
}

.correct{
    background-color: rgb(65, 181, 65);
}

.incorrect{
    background-color: rgb(242, 89, 89);
}


